{% extends 'base.html' %}

{% block title %}Acerca de Mí{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h2 class="mb-4">Acerca de Mí</h2>
                <p>Hola, soy Iván, un apasionado programador de 29 años. Con más de un año de experiencia en el mundo de la programación, disfruto explorando y aprendiendo nuevas tecnologías.</p>
                <p>Además de ser programador, soy técnico electrónico, lo que me permite combinar mis habilidades en el ámbito de la electrónica y la informática.</p>
                <p>Vivo solo y disfruto del tiempo que paso inmerso en mi trabajo y proyectos personales. En mi tiempo libre, uno de mis pasatiempos favoritos es jugar videojuegos, donde encuentro diversión y desafíos que complementan mi día a día.</p>
            </div>
        </div>
    </div>
     <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h2 class="mb-4">Acerca del Proyecto</h2>
                <p>Bienvenido al proyecto de gestión de autos y clientes. Este proyecto tiene como objetivo facilitar el manejo de información relacionada con autos y clientes, brindando una plataforma intuitiva y eficiente.</p>
                <p>En esta aplicación, podrás realizar diversas acciones, como agregar nuevos autos, visualizar la lista de autos registrados, llevar un registro de las actividades realizadas, añadir clientes y gestionar su información, entre otras funciones útiles.</p>
                <p>La interfaz amigable y las funcionalidades bien organizadas hacen que este proyecto sea ideal para aquellos que buscan una solución integral para la gestión de datos en el ámbito automotriz.</p>
            </div>
        </div>
    </div>
{% endblock %}
