{% extends 'base.html' %}

{% block content %}
  <div class="container mt-4 text-center" >
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form method="post" action="{% url 'borrar_auto' %}" id="borrarAutoForm">
          {% csrf_token %}
          <div class="mb-3">
            <label for="id_auto_id" class="form-label">Seleccione un Auto:</label>
            {{ form.auto_id }}
          </div>
          <button type="button" class="btn btn-danger" onclick="confirmarBorrado()">Borrar Auto</button>
        </form>

        <div class="mt-3">
          <a href="{% url 'home' %}" class="btn btn-secondary">Volver al Inicio</a>
        </div>
      </div>
    </div>
  </div>

  <script>
    function confirmarBorrado() {
      if (confirm("¿Está seguro de querer eliminar este auto?")) {
        document.getElementById("borrarAutoForm").submit();
      }
    }
  </script>
{% endblock %}
