{% extends 'base.html' %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h2 class="mb-4">Iniciar Sesión</h2>
        <form method="post" action="{% url 'login' %}">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
        </form>

        <p class="mt-3">¿No tienes una cuenta? <a href="{% url 'register' %}">Regístrate aquí</a>.</p>

        {% if user.is_authenticated %}
          <div id="user-info" class="mt-4">
            <img src="{{ user.perfil.avatar.url }}" alt="Avatar" class="img-fluid rounded-circle" width="50" height="50">
            <span class="ml-2">{{ user.username }}</span>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
